@font-face{
	font-family:"open sans";
	src:url("/vrc/font/2209.ttf");
}

html, body{position:relative; /*height:100%; width:100%;*/ background:#0099FF}


/* главная (вход) */
#inner{margin:auto; max-width:565px;  height:100%; position:relative; z-index:2; padding:0 10px }

.formAuth{background:#eff3f6;  height:430px; position:relative; top:0;  width:100%; margin: 0 0 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#inner .VR-title{/*display:block; margin-top:10%; */color:#fff; line-height:55px; /*height:30%;*/position:absolute;  bottom:10%; font-family:Arial, Helvetica, sans-serif; font-size:48px; /*font-weight:bold;*/ text-transform:uppercase}
.cell-1{height:33%; width:100%;/* background:#009966*/ position:relative}
.cell-2{height:63%; width:100%;/* background:#999900*/ position:relative}

.formTitle, input{font-family: "open sans"; color:#666 !important;}
.formTitle{text-align:center;  font-size: 50px !important; }
input.form-control{ background:#fff;  font-size:45px !important; text-align:center; 
	border:0; border-left:10px solid #19c6ff;
	-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;  -webkit-border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; 
	border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0;
}

.checkbox span{color:#000; font-size:28px; margin-left:25px}
.checkbox input{/*-webkit-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;*/
	width:27px; height:27px
}
	
button{background:#19c6ff !important; color:#fff !important; font-family:Arial !important; border:0 !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  font-size:28px !important; text-transform:uppercase; text-align:center; width:100%; }
button, input.form-control{height:75px !important;} 

.bg{position:fixed; height:100%; width:100%; z-index:1; top:0 }



/* /главная (вход) */

/* статистика */
#main{max-width:1190px; margin:auto; padding:10px; position:relative; z-index:2; /*background:#009999*/}
#main .VR-title{color:#fff ; display:block; text-align:center; line-height:55px;font-family:Arial, Helvetica, sans-serif; font-size:46px; margin:20px 0 30px; /*font-weight:bold;*/ text-transform:uppercase;/* background:#CC3300*/}

.header-block{margin-top:35px}
.vr-stat-box{background:#eff3f6;margin: 0 0 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.vr-stat-box-title{font-size: 40px;  line-height:40px;   color: #666;    font-family: calibri light;}
.header .vr-stat-box-title{margin-left:20px}
.vr-attr-name{font-size: 25px;  line-height:44px;   color: #666;    font-family: calibri;}

.vr-data{margin-top:35px}
.vr-stat-param-title{font-size: 30px; letter-spacing:-1px;     color: #666; line-height: 84px;   font-family: calibri; text-align:right}
.vr-stat-data{display:block; height:66px; line-height:66px; width:100%; max-width:160px; background:#fff; margin:9px 0; border:1px solid #b8b7b6;  border-left:10px solid #19c6ff;
	-webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px;  -webkit-border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; 
	border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 0; border-bottom-left-radius: 0; color:#000; font-size:40px; font-family:arial; text-align:center;}
.vr-stat-more{    width: 150px;  margin: 14px 0;  font-size: 26px !important;    text-transform: none;    height: 55px !important;}

.pic{position:relative}
.pic img{position:absolute; max-width:100%; margin-top:40px}

.icons{max-width:900px}
.vr-pop-game{margin-top:45px}
.vr-pop-game .vr-stat-param-title{text-align:left; margin-left:45px;}
.vr-pop-game-item{/*background:#FFCCFF;*/ text-align:center; /*min-width:120px*/ position:relative}
.vr-pop-game-item img{max-width:100%}
.percent{height:35px; overfolow:hidden; line-height:35px;}
.percent, .vr-game-name{display:block; text-align:center; font-size: 25px;    color: #666;   font-family: calibri;}
.vr-game-name{line-height:1em; padding:10px 0;}
.new{color:#ba2385; text-transform:uppercase; line-height:35px; font-size:17px}

.frame{display: block;
    position: absolute;
    top: 35px;
    z-index: 2;
    width: 120px;
    /* margin: auto; */
    left: 50%;
    margin-left: -60px;}
	
.graph img{max-width:100%}

/* /статистика */

@media only screen and (max-width: 1200px) 
{
	.vr-stat-box-title {    font-size: 34px;}
	.vr-attr-name {    font-size: 20px;}
}

@media only screen and (max-width: 992px) 
{
	.vr-stat-box-title, .vr-attr-name, .vr-pop-game .vr-stat-param-title {display:block; text-align:center}
	.vr-pop-game .vr-stat-param-title{margin-left:0}
	
}

@media only screen and (min-width: 768px)  and (max-width: 840px)
{
	.vr-stat-param-title-long {line-height:normal; margin-top:10px}
	
}

@media only screen and (max-width: 768px) 
{
	.vr-stat-param-title {text-align:center; line-height:normal}
	.vr-stat-data{margin:9px auto}
	.vr-stat-more{display:block;  margin: 14px auto;}
}


@media only screen and (max-width: 530px) 
{
	#main .VR-title{font-size:40px}
	.vr-stat-box-title {    font-size: 30px;}
	.vr-attr-name, .vr-game-name, .percent/*, .vr-pop-game .vr-stat-param-title*/ {    font-size: 16px;}
	.new{font-size:12px; }
	.frame{display:none}
}

@media only screen and (max-width: 420px) 
{
	.new{font-size:12px; line-height:14px}
}


@media only screen and (max-width: 480px) 
{
	#main .VR-title{font-size:30px; line-height: 35px;}
	.vr-data{margin-top:10px}
	.vr-stat-box-title {   line-height:1em}
	.vr-attr-name{line-height:1em; text-align: center;
    display: block;
    margin-top: 10px;}
	
}

@media only screen and (max-width: 375px) 
{
	#main .VR-title{font-size:26px; margin: 10px 0 20px;}
	.vr-stat-more{width: 100%; font-size:20px !important}
	.vr-stat-data{font-size:30px !important}
	
}


@media only screen and (max-width: 768px) and (orientation: landscape) 
{
	#inner .VR-title{font-size: 28px !important; line-height: 40px; padding:10px 0 0 0; position:relative}
	.cell-1, .cell-2{height:auto}
	.checkbox span {font-size: 20px;}
	.checkbox input {    width: 20px;    height: 20px;}
	.formTitle {        font-size: 30px !important;}
	button, input.form-control {    height: 30px !important; font-size: 25px !important;}
	button{font-size: 16px !important;}
	.formAuth {       height: auto;        padding: 10px 0; margin: 0 0 10px 0;}
}

@media only screen and (max-width: 480px) and (orientation: portrait) 
{
	#inner .VR-title{font-size: 35px !important; line-height: 40px; padding:20px 0; position:relative}
	.cell-1{height:auto}
}

@media only screen and (max-width: 375px) and (orientation: portrait) 
{
	.checkbox span {font-size: 25px;}
	.formTitle {        font-size: 40px !important;}
	button, input.form-control {    height: 40px !important; font-size: 25px !important;}
	.formAuth {       height: auto;        padding: 10px 0;}	
}
























